# Census Dashboard

The objective of this Jupyter notebook is to replicate the dashboard found [here](https://www.census.gov/library/visualizations/interactive/learn-about-states-acs-2019.html) using Dash. In order to do this, I had to use the census' table finder tool to find the data used in the visualization. I had to then search through the metadata to find the appropriate variables, and then use pandas to select and clean the data so that it could be visualized. Finally I made the dashboard using Dash and Plotly.

In [1]:
#import packages
import pandas as pd
from jupyter_dash import JupyterDash
import plotly.express as px
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import os

In [2]:
#Import data
data = pd.read_csv('ACSSPP1Y2019.S0201_data_with_overlays_2020-12-04T122045.csv')
data.head()

,GEO_ID,POPGROUP,POPGROUP_LABEL,NAME,S0201_001E,S0201_001M,S0201_002E,S0201_002M,S0201_003E,S0201_003M,...,S0201_304E,S0201_304M,S0201_305E,S0201_305M,S0201_306E,S0201_306M,S0201_307E,S0201_307M,S0201_308E,S0201_308M
0,id,Race/Ethnic Group,Population Groups,Geographic Area Name,Estimate!!TOTAL NUMBER OF RACES REPORTED!!Tota...,Margin of Error!!TOTAL NUMBER OF RACES REPORTE...,Estimate!!TOTAL NUMBER OF RACES REPORTED!!Tota...,Margin of Error!!TOTAL NUMBER OF RACES REPORTE...,Estimate!!TOTAL NUMBER OF RACES REPORTED!!Tota...,Margin of Error!!TOTAL NUMBER OF RACES REPORTE...,...,Estimate!!GROSS RENT!!Occupied units paying rent,Margin of Error!!GROSS RENT!!Occupied units pa...,Estimate!!GROSS RENT!!Occupied units paying re...,Margin of Error!!GROSS RENT!!Occupied units pa...,Estimate!!COMPUTERS AND INTERNET USE!!Total ho...,Margin of Error!!COMPUTERS AND INTERNET USE!!T...,Estimate!!COMPUTERS AND INTERNET USE!!Total ho...,Margin of Error!!COMPUTERS AND INTERNET USE!!T...,Estimate!!COMPUTERS AND INTERNET USE!!Total ho...,Margin of Error!!COMPUTERS AND INTERNET USE!!T...
1,0400000US01,001,Total population,Alabama,4903185,*****,98.1,0.1,1.7,0.1,...,530685,10587,807,9,1897576,10370,89.4,0.4,81.6,0.5
2,0400000US02,001,Total population,Alaska,731545,*****,92.1,0.7,7.2,0.7,...,81577,2858,1201,37,252199,3658,95.3,0.5,87.8,0.9
3,0400000US04,001,Total population,Arizona,7278717,*****,96.1,0.2,3.6,0.2,...,882969,13778,1101,8,2670441,12014,94.6,0.2,87.2,0.3
4,0400000US05,001,Total population,Arkansas,3017804,*****,97.2,0.2,2.7,0.2,...,364655,8558,742,10,1163647,8530,89.5,0.4,79.8,0.6

In [3]:
#Select appropriate variables
data = data[['GEO_ID', 'NAME', 'S0201_018E', 'S0201_018M', 'S0201_009E', 'S0201_019E', 'S0201_022E', 'S0201_175E', 'S0201_175M', 'S0201_169E', 'S0201_170E', 'S0201_171E', 'S0201_172E', 'S0201_173E', 'S0201_174E', 
 'S0201_308E', 'S0201_308M', 'S0201_307E', 'S0201_307M', 'S0201_096E', 'S0201_096M', 'S0201_091E', 'S0201_092E', 'S0201_093E', 'S0201_094E', 'S0201_095E', 'S0201_159E', 'S0201_159M', 
 'S0201_161E', 'S0201_155E', 'S0201_130E', 'S0201_130M', 'S0201_148E', 'S0201_149E', 'S0201_147E', 'S0201_146E', 'S0201_145E', 'S0201_144E', 'S0201_245E', 'S0201_245M', 'S0201_243E', 
 'S0201_244E', 'S0201_214E', 'S0201_214M', 'S0201_058E', 'S0201_058M', 'S0201_255E', 'S0201_255M', 'S0201_256E', 'S0201_261E', 'S0201_262E']]
#Rename the columns based on the last string in the list in the first row after splitting on '!!'
data.columns = data.iloc[0].str.split('!!').str[-1]
#Remove the first row
data = data[1:]

In [4]:
data.head()

,id,Geographic Area Name,Median age (years),Median age (years),Under 5 years,18 years and over,65 years and over,Mean travel time to work (minutes),Mean travel time to work (minutes),"Car, truck, or van - drove alone",...,With public coverage,Median household income (dollars),Median household income (dollars),Average household size,Average household size,All people,All people,Under 18 years,18 to 64 years,65 years and over
1,0400000US01,Alabama,39.4,0.3,5.8,77.9,17.4,25.4,0.3,85.2,...,37.3,51734,600,2.52,0.01,15.5,0.5,21.4,14.7,10.5
2,0400000US02,Alaska,35.0,0.3,7.0,75.4,12.4,20.2,0.9,70.0,...,35.2,75463,2694,2.79,0.04,10.1,1.1,13.0,9.5,6.9
3,0400000US04,Arizona,38.3,0.2,5.9,77.5,18.0,26.6,0.2,75.6,...,38.4,62055,446,2.67,0.01,13.5,0.5,19.1,12.7,9.0
4,0400000US05,Arkansas,38.8,0.2,6.1,76.8,17.4,21.9,0.3,82.4,...,44.0,48952,863,2.52,0.02,16.2,0.6,22.1,15.5,10.5
5,0400000US06,California,37.0,0.1,6.0,77.5,14.8,30.7,0.1,73.5,...,37.8,80440,313,2.94,0.01,11.8,0.2,15.6,10.7,10.5

In [5]:
#Since my naming convention does not specify the variables related to poverty, so add those
#Similarly, it does not specify margins, just add ' MOE' to the appropriate variables
poverty = range(46, 51)
for i in poverty:
    data.columns.values[i] = 'Poverty ' + data.columns[i].lower()
    
margins = [3, 8, 16, 18, 20, 27, 31, 39, 43, 45, 47]
for i in margins:
    data.columns.values[i] = data.columns[i] + ' MOE'


    
#Rename Geographic Area Name to State Name and drop DC
data.rename(columns={'Geographic Area Name':'State name'}, inplace = True)
data.drop(9, inplace=True)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 1 to 51
Data columns (total 51 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   id                                           50 non-null     object
 1   State name                                   50 non-null     object
 2   Median age (years)                           50 non-null     object
 3   Median age (years) MOE                       50 non-null     object
 4   Under 5 years                                50 non-null     object
 5   18 years and over                            50 non-null     object
 6   65 years and over                            50 non-null     object
 7   Mean travel time to work (minutes)           50 non-null     object
 8   Mean travel time to work (minutes) MOE       50 non-null     object
 9   Car, truck, or van - drove alone             50 non-null     object
 10  Car, truck, or van - carpooled               50 non-null     object
 11  Public transportation (excluding taxicab)    50 non-null     object
 12  Walked                                       50 non-null     object
 13  Other means                                  50 non-null     object
 14  Worked from home                             50 non-null     object
 15  With a broadband Internet subscription       50 non-null     object
 16  With a broadband Internet subscription MOE   50 non-null     object
 17  With a computer                              50 non-null     object
 18  With a computer MOE                          50 non-null     object
 19  High school graduate or higher               50 non-null     object
 20  High school graduate or higher MOE           50 non-null     object
 21  Less than high school diploma                50 non-null     object
 22  High school graduate (includes equivalency)  50 non-null     object
 23  Some college or associate's degree           50 non-null     object
 24  Bachelor's degree                            50 non-null     object
 25  Graduate or professional degree              50 non-null     object
 26  Unemployment Rate                            50 non-null     object
 27  Unemployment Rate MOE                        50 non-null     object
 28  Not in labor force                           50 non-null     object
 29  In labor force                               50 non-null     object
 30  Foreign born                                 50 non-null     object
 31  Foreign born MOE                             50 non-null     object
 32  Latin America                                50 non-null     object
 33  Northern America                             50 non-null     object
 34  Oceania                                      50 non-null     object
 35  Africa                                       50 non-null     object
 36  Asia                                         50 non-null     object
 37  Europe                                       50 non-null     object
 38  No health insurance coverage                 50 non-null     object
 39  No health insurance coverage MOE             50 non-null     object
 40  With private health insurance                50 non-null     object
 41  With public coverage                         50 non-null     object
 42  Median household income (dollars)            50 non-null     object
 43  Median household income (dollars) MOE        50 non-null     object
 44  Average household size                       50 non-null     object
 45  Average household size MOE                   50 non-null     object
 46  Poverty all people                           50 non-null     object
 47  Poverty all people MOE                       50 non-null     object
 48  Poverty under 18 years                       50 non-null     object
 49  Poverty 18 to 64 years                       50 non-null     object
 50  Poverty 65 years and over                    50 non-null     object
dtypes: object(51)
memory usage: 20.3+ KB

Plotly uses state abbreviations to plot choropleth maps, so I copied the dictionary found [here](https://gist.github.com/rogerallen/1583593)

In [7]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

states = pd.DataFrame.from_dict(us_state_abbrev, orient='index').reset_index()
states.columns = ['State name', 'State']

data = data.merge(states)
#Convert numeric columns to float
data[data.columns[2:50].tolist()] = data[data.columns[2:50].tolist()].astype(float)
#Main_cols are the columns that are actually going to be plotted
main_cols = ['Median age (years)', 'Mean travel time to work (minutes)', 'With a broadband Internet subscription', 'High school graduate or higher', 'Unemployment Rate', 'Foreign born', 
            'No health insurance coverage', 'Median household income (dollars)', 'Poverty all people']

In [8]:
app = dash.Dash(__name__)
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
colorscales = px.colors.named_colorscales()

app.layout = html.Div([
    
    html.H1("Census Dashboard", style={'text-align': 'center'}),
    html.P("Simple Dash implementation of the dashboard found on https://www.census.gov/library/visualizations/interactive/learn-about-states-acs-2019.html"),
    html.P("Hover over the map for more detailed information on each variable"),
    html.Div([html.P("Select Variable"),
    dcc.Dropdown(id="variable", 
                 options = [{'label': x, 'value': x} for x in data[main_cols]],
                value = data.columns[2],
                  style=dict(
                    width='40%',
                    verticalAlign="left", horizontalAlign = 'left')),
    html.P("Color Scale"),
    dcc.Dropdown(
        id='colorscale', 
        options=[{"value": x, "label": x} 
                 for x in colorscales],
        value='viridis',
        style=dict(
                    width='40%',
                    verticalAlign="middle")
    ),
              
    dcc.Graph(id='choropleth')])
])

@app.callback(
Output('choropleth', 'figure'),
[Input('variable','value'), Input("colorscale", "value")])

def display_choropleth(variable, colorscale):
    hover_datas = [['State name', variable, variable + ' MOE', 'Under 5 years', '18 years and over', '65 years and over'],  
               ['State name', variable, variable + ' MOE', 'Car, truck, or van - drove alone', 'Car, truck, or van - carpooled', 'Public transportation (excluding taxicab)',
                            'Walked', 'Other means', 'Worked from home'],
              ['State name', variable, variable + ' MOE', 'With a computer', 'With a computer MOE'],
              ['State name', variable, variable + ' MOE', 'Less than high school diploma', 'High school graduate (includes equivalency)', "Some college or associate's degree", 
                          "Bachelor's degree", "Graduate or professional degree"],
              ['State name', variable, variable + ' MOE', 'Not in labor force', 'In labor force'],
              ['State name', variable, variable + ' MOE', 'Latin America', 'Northern America', 'Oceania', 'Africa', 'Asia', 'Europe'],
              ['State name', variable, variable + ' MOE', 'With private health insurance', 'With public coverage'],
              ['State name', variable, variable + ' MOE'],
               ['State name', variable, variable + ' MOE', 'Poverty under 18 years', 'Poverty 18 to 64 years', 'Poverty 65 years and over']]
    variable_index = main_cols.index(variable)
    fig = px.choropleth(
        data_frame = data,
        locationmode = 'USA-states',
        locations = 'State',
        scope='usa',
        color = variable,
        hover_data = hover_datas[variable_index],
        range_color=[data[variable].min(), data[variable].max()],
    color_continuous_scale=colorscale)
        
    
    return fig

In [ ]:
app.run_server(use_reloader=False)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [06/Dec/2020 13:46:34] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [06/Dec/2020 13:46:34] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [06/Dec/2020 13:46:34] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [06/Dec/2020 13:46:34] "GET /_favicon.ico?v=1.17.0 HTTP/1.1" 200 -
127.0.0.1 - - [06/Dec/2020 13:46:35] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [06/Dec/2020 13:46:36] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [06/Dec/2020 13:46:41] "POST /_dash-update-component HTTP/1.1" 200 -